<header>

 


  <div class="container">
    <div class="row">

      <div class="col-md-3">
     <h1 class="logo" routerLink="">Brand</h1>
  </div>  

  <div class="col-md-9">
    <form [formGroup]= "form" (ngSubmit) = "onSubmit(form.value)"  >
       
          <div class="form-inline">

          <div class="form-group"> 
            <input type="email" name="emailorphone" class="form-control" formControlName="emailorphone" placeholder="Email or Phone"   > 
          </div>
          <div class="form-group"> 
            <input type="password" name="loginpassword" class="form-control" formControlName="loginpassword"  placeholder="Password"> 
            
          </div>
          <div class="form-group"> 
            <button type="submit" class="btn btn-default">Login</button>
          </div>
          <div class="form-group"> 
            <a  routerLink="forgetpassword" class="btn btn-primary">Forgot password</a>
          </div>
           
        </div>
      
        
    </form>
  </div> 

    </div>

  </div>

  {{emailorphone}}
</header>
