<footer>

  <div class="container">
      <div class="row">

          <ul>
            <li> 
              <a routerLink="">GitHub</a>
               <a routerLink="">Twitter</a>
               <a routerLink=""> Examples</a>
               <a routerLink="about"> About</a>
            </li>
              <li>Designed and built with all the love in the world </li>
          </ul>

      </div>
  </div>

</footer>
