<h2>Create an account</h2>
<p>It's free and always will be.</p>

<form [formGroup]="signupform" (ngSubmit) = "onSubmit(signupform.value)" >

  

     <div class="form-group" >    
     <input type="text" name="firstname" class="form-control" formControlName="firstname" placeholder="Frist name">
    </div>

     <div class="form-group" >    
     <input type="text" name="surname" class="form-control" formControlName="surname" placeholder="Surname">
    </div>

 
    <div class="form-group">    
     <input type="text" name="mobileemail" class="form-control" formControlName="mobileemail" placeholder="Email or Phone">
    </div>

    <div class="form-group">    
     <input type="password" name="signuppassword" class="form-control" formControlName="signuppassword" placeholder="Password">
    </div>

 
  

 <div class="form-group">
   <label>Birthday</label>
<div class="form-inline">
  <div class="form-group">
    
    <select name="bdate" class="form-control" formControlName="bdate" >
       

      <option *ngFor="let date of dates"   [value]="date.value">{{date.label}}</option>
    </select>
  </div>
  <div class="form-group">
    <select name="bmonth" class="form-control" formControlName="bmonth">
      <option *ngFor="let date of dates"   [value]="date.value">{{date.label}}</option>
    </select>
  </div>
  <div class="form-group">
    <select name="byear" class="form-control" formControlName="byear">
      <option *ngFor="let date of dates"  [value]="date.value">{{date.label}}</option>
    </select>
  </div>

 </div>
 </div>
 <div class="form-group">
 <select name="gender" formControlName="gender"  class="form-control">
   <option [value]="m">Male</option>
   <option [value]="f">Female</option>
 </select>
 </div>
 <div class="form-group">
 <button class="btn btn-primary" type="submit">CREATE ACCOUNT</button>
 </div>
</form>