<div class="contentarea">
   <div class="container">
     <div class="row"> 
       <div class="col-md-6 col-md-offset-3 mypanel">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Find Your Account</h3>
  </div>
   <form [formGroup]="forgotpass" (ngSubmit)="onSubmit(forgotpass.value)">
  <div class="panel-body">
    <div class="list-group">
       <div class="list-group-item">
         

            <div class="from-group">
              <p>	Please enter your email address or phone number to search for your account.</p>
            </div>
            <div class="form-group">
                <input type="text" name="emailorphone" class="form-control" formControlName="emailorphone" placeholder="Email or Phone"> 
            </div>

          
       </div>
       <div class="list-group-item">
 
    <button type="submit" class="btn btn-primary">SEARCH</button>
    <button type="reset" class="btn btn-default">CANCEL</button>
  </div>
       

    </div>
   
  </div>
  </form>
</div>

</div></div></div></div>