<div class="contentarea">
    <div class="container">
    <div class="row">

    <div class="col-md-7 fronleft">
        <img src="http://www.newfriends4u.com/common/img/fading_image2.png">
        <h3>{{title}} helps you connect and share <br /> with the people in your life.</h3>
       
    </div>
    <div class="col-md-5">
        <app-signuphome></app-signuphome>
        </div>

    </div>
</div>

</div> 